* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.input-group.nav.navbar-nav.navbar-right.container {
  margin-right: 0px;
}

@media (max-width:991.98px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #ff0000;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #ffffff;
}

@media (min-width:576px) {
  #nav-header {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 5px;
    border-color: #bc121e;
    background-color: #ffffff;
  }
}

